body {
    background-color: #DCDCDC;
}


h1, a, div, h2, h3,p {
    display: flex;
    justify-content: center;
    color: #4B0082;
}

a {
    text-decoration: none;
    
}

a:hover {
    color:#8B0000  ;
}

input {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}